/** Author: Joaquin Tolentino, 000771944 **/

/**RESET **/

html {
    scroll-behavior: smooth;
}
body {
    margin: 0 3em;
    padding: 0;
    font-family: Georgia, serif;
}

/**GROUPED STYLES **/
nav {
    background-color: limegreen;
}

h2, h3, h4 {
    color: limegreen;
}

h1 {
    color: darkgreen;
}


/**NAV BAR **/
nav {
    text-align: center;
    padding-bottom: 10px;
    margin: auto;
}
nav ul {
    list-style-type: none;
    margin-top: 0;
    padding-top: 20px
}

nav li {
    display: inline;
    margin: 1em 0;
    padding: 2em 1em 1em 1em;
}

nav ul li a{
    text-decoration: none;
}

nav a:hover {
    color: #fff;
    text-decoration: underline;
}

nav a:active {
    color: #000;
}


/**HEADER **/ 

header img {
    vertical-align: middle;
}

header h1 {
    display: inline;
    vertical-align: baseline;
    letter-spacing: 0.5em;
}

header {
    margin-top: 1em;
    text-align: center;
}

/**MAIN CONTENT **/
main {
    display: inline;
}
main > ul {
    list-style-image: url("./images/recycle_sm.jpg");
}

main > ul li {
    line-height: 2.5em;
}

main > ul> li:last-of-type {
    list-style-image: url("./images/greenarrow.png");
}

main img {
    margin-right: 3em;
    float: right;
}

/** COMMUNITY CENTERS **/

#noBullets {
    list-style-type: circle;
}

#noBullets > li:nth-child(even) {
    list-style-type: none;
}

#noBullets > li:nth-child(odd) {
    text-decoration-line: underline;
    text-decoration-style: double;
}





/**TIPS **/

#nestedList > li:nth-child(2) {
    list-style-type: none;
}

#nestedList > li > ol {
    list-style-type: lower-roman;
}

#nestedList > li > ol li:nth-child(2) {
    text-decoration-line: underline;
    text-decoration-style: double;
}

#nestedList > li a {
    color: #fff;
    background-color: darkgreen;
    text-decoration-line: none;
}

/**PICKUP **/

section span {
    color: lightgreen;
}

/**FOOTER **/
footer {
    border-top: 2px solid #000;
    text-align: center;
    background-image: url("./images/ricepaper.png");
    margin-bottom: 5em;
}

footer p {
    font-weight: bold;
    font-style: italic;
    margin: 0;
}
